.social {
	@extend %flex-center;


	&__item {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__link {
		color: $white;
		transition: color .3s ease-in-out;

		&:hover {
			color: $hoverColor;
		}
	}

	.whatsap {
		&:hover {
				color: #43d854;
			}
	}

	.youtube {
		&:hover {
			color: #c4302b;
		}
	}

	.telegram {
		&:hover {
			color: #0088cc;
		}
	}
}
