$back: rgb(41, 41, 9);
$white: #fff;
$text: rgb(212, 166, 166);
$borderRadius: 16px;;
$defaultColor: #272727;
$hoverColor: #0BD072;

$fontSize16: 16px;

%flex-center {
	display: flex;
	align-items: center;
}

%search-font {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

%phone-font {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

%footer-title-font {
	font-weight: 700;
	font-size: 32px;
	line-height: 130%;
}

%footer-link-font {
	font-weight: 400;
	font-size: 22px;
	line-height: 150%;
}
